<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <meta charset="utf-8">
        <title>Index</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">    
        <script src="{% static 'js/script.js' %}"></script>
    </head>

    <body>
        <p>hai hai hai, {{user.first_name}}</p>
        <a href="/logout">log out</a>
        <br/>
        <br/>
        <a href="/dashboard">back to main page</a>
        <br/>
        <br/>
        
        <input type="text">destination: {{trip.destination}}
        <br/>
        <br/>
        <input type="date">start date: {{trip.startdate}}
        <br/>
        <br/>
        <input type="date">end date: {{trip.enddate}}
        <br/>
        <br/>
        <textarea name="plan" id="" cols="30" rows="10"></textarea>Plan:
        <br/>
        <br/>

        <button type="submit">submit</button>

        <form action="/dashboard/{{book.id}}/edit" method="post">
                {% csrf_token %}
                <label for="destination">destination</label>
                <textarea name="title">{{book.title}}</textarea>
                <br>
                <br>

                <label for="startdate">startdate</label>
                <textarea name="startdate">{{book.desc}}</textarea>
                <br/>

                <label for="enddate">enddate</label>
                <textarea name="enddate">{{book.title}}</textarea>
                <br>
                <br>

                <label for="startdate">startdate</label>
                <textarea name="startdate">{{book.desc}}</textarea>
                <br/>
        
                <button type="submit">Update</button>
                <br/>
    
        </form>
    
    </body>
</html>