<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <meta charset="utf-8">
        <title>Index</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">    
        <script src="{% static 'js/script.js' %}"></script>
    </head>

    <body>
        <p>hai hai hai, {{user.first_name}}</p>
        <a href="/logout">log out</a>
        <br/>
        <br/>
        <a href="/dashboard">back to main page</a>
        <br/>
        <br/>
        <p>destination: {{trip.destination}}</p>

        <p>start date: {{book.desc}}</p>

        <p>Added by: {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</p>

        <p>Added on: {{book.created_at}}</p>

        <p>Updated at: {{book.updated_at}}</p>

    
    </body>
</html>