<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <meta charset="utf-8">
        <title>Index</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">    
        <script src="{% static 'js/script.js' %}"></script>
    </head>

    <body>

        {% if messages %}
            Errors:
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <form action="/trips/update/{{trip.id}}" method="post">
            {% csrf_token %}

            <label for="destination">destination</label>
            <input type="text" name="destination" value="{{trip.destination}}"/> 
            <br/>

            <label for="startdate">startdate</label>
            <input type="date" name="startdate" value="{{trip.startdate}}"/>
            <br/>

            <label for="enddate">enddate</label>
            <input type="date" name="enddate" value="{{trip.enddate}}"/>
            <br/>

            <label for="plan">plan</label>
            <textarea name="plan" rows="10" cols="30">
                {{trip.plan}}
            </textarea>
    
            <button type="submit">Update</button>
            <br/>
    
        </form>
    
    </body>
</html>