if len(post_data['first_name']) < 3:
            errors['first_name'] = "First name must be 3 characters"

        if post_data['first_name'].isalpha() == False:
            errors['first_name'] = "letters only"

        if len(post_data['last_name']) < 3:
            errors['last_name'] = "Last name must be 3 characters"

        if post_data['last_name'].isalpha() == False:
            errors['last_name'] = "letters only"

        if len(post_data['email']) < 8:
            errors['email'] = "Email must contain 8 characters"

        #if post_data['email'].Books.objects.filter(title=post_data) == True:
        # errors['email'] ="this email already exist in database"

        if post_data['email'].find("@") == -1:
            errors['email'] = "email must contain @ and .com"

        if post_data['email'].find(".com") == -1:
            errors['email'] = "email must contain @ and .com"

        # test whether a field matches the pattern
        if not EMAIL_REGEX.match(post_data['email']):
            errors['email'] = "Invalid email address!"

        if post_data['password'] != post_data['confirm_password']:
            errors['pass_match'] = "password must match confirm password"

        if len(post_data['password']) < 8:
            errors['pass_length'] = "password must be longer than 8 characters"

        return errors